.schema {
  background: /* top, transparent #0a58ca */ linear-gradient( #37517e, rgb(0 0 0 / 50%) ), /* bottom, image */ url(../../assets/img/slide-1.jpg);
}

.schema .content h3{
	color: #fff !important;
}

.layer ul li {
	color: #fff;
}